.selected-list-container {
    background-color: var(--background-color-window);
    padding: 7px 15px;
    border-radius: 20px;
    width: 370px;
    cursor: pointer;
    
}

.select-menu {
    background: none;
    border: none;
    width: 100%;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    cursor: pointer;
}