@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Press+Start+2P&display=swap');

* {
  font-family: 'Press Start 2P', cursive;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background-image: url('../public/bg.png');
  display: flex;
  justify-content: center;

  
}

